<table class="table table-hover">
  <thead class="table-secondary">
    <tr>
      <td>Card Owner</td>
      <td>Card Number</td>
      <td>Exp. Date</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let payment of payments" (click)="clickData(payment.paymentDataId)"> -->
    <tr *ngFor="let payment of payments" (click)="click(payment.paymentDataId)">
      <td>{{ payment.cardOwnerName }}</td>
      <td>{{ payment.cardNumber }}</td>
      <td>{{ payment.expirationDate | date : 'M/yy' }}</td>
      <td><i class="bi bi-trash text-danger" (click)="open(content, payment.paymentDataId)"></i></td>
      <!-- <td><i class="bi bi-trash text-danger" (click)="clickDelete(payment.paymentDataId)"></i></td> -->
    </tr>
  </tbody>
</table>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-danger" id="modal-basic-title">Delete Payment!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>Are you sure?</p>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-sm btn-secondary m-2" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="isDelete()">Delete</button>
  </div>
</ng-template>
