.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.klik-tengah {
  background: #e51e63;
  border-radius: 50%;
  box-shadow: 0px 5px 10px -2px #e51e63;
  height: 50px;
  margin: 0 auto;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.klik-bawah {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
}
