<!-- <app-button (clickEventHandler) = "addCounter()" (resetEventHandler) = "resetCounter()" [name] = "name" [name2] = "name2" [isDisabled] = "isDisabled"></app-button>
<h1 align="center">{{ counter }}</h1>
<h1 align="center">{{ message }}</h1> -->

<ul>
    <li *ngFor="let person of people" [ngStyle]="{'color': (person.country === 'USA') ? 'red' : (person.country === 'HK') ? 'blue' : (person.country === 'MARS') ? 'green' : ''}">
        {{person.name}}, {{person.age}}th dari {{person.country}}
    </li>
</ul>

<ul>
    <li *ngFor="let person of people" [class.text-red]="person.country==='USA'" [class.text-blue]="person.country==='HK'" [class.text-green]="person.country==='MARS'">
        {{person.name}}, {{person.age}}th dari {{person.country}}
    </li>
</ul>


