<form [formGroup]="loginData" (ngSubmit)="handleLoginForm()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" formControlName="username" (change)="handleIsSubmittedState()" />

    <span *ngIf="isSubmitted && username && username.invalid">Username is not valid</span>
    <div *ngIf="username?.errors?.minlength">
      Name must be at least 5 characters long.
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" formControlName="password">
  </div>

  <input type="submit" value="Login">
</form>
<!-- <div *ngIf="name.errors?.required">
  Name is required.
</div>
<div *ngIf="name.errors?.minlength">
  Name must be at least 4 characters long.
</div>
<div *ngIf="name.errors?.forbiddenName">
  Name cannot be Bob.
</div> -->
