<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="form.inputData" (ngSubmit)="signIn()">
    <h3>Signin</h3>
    <div class="form-group mt-3">
      <label for="">Email</label>
      <input type="text" name="email" id="email" formControlName="email" class="form-control" required>
      <span style="color: red;" *ngIf="email && email.touched && email.invalid">
        You must input a valid email.
      </span>
    </div>
    <div class="form-group mt-3">
      <label for="">Password</label>
      <input type="password" name="password" id="password" formControlName="password" class="form-control" required>
      <span style="color: red;" *ngIf="password && password.touched && password.invalid">
        You must input your password minimum of 5 characters.
      </span>
    </div>
    <button type="submit" class="btn btn-accent">Sign In</button>
  </form>
</div>
