@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.green-snackbar {
  background-color: rgb(1, 156, 123);
  color: lightgoldenrodyellow;
  margin-right: 0px;
}

.red-snackbar {
  background-color: rgb(175, 41, 52);
  color: lightgoldenrodyellow;
  margin-right: 0px;
}

.cdk-overlay-container {
  /* margin-top: 50 !important;
  margin-left: 150px !important; */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
